<h1>Login</h1>
<p>Ingresa tus credenciales</p>

<form action="/login"
      method="post">

    <div class="form-group">
        <label for="correo">Correo</label>
        <input id="correo" type="text" name="correo" class="form-control">

    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
    </div>

    <button>Login</button>

</form>

<a href="/usuario/crear-usuario">
    <button>Registrar</button>
</a>